.carrousel {
    position : fixed;
    width : 50%;
    height : 50%;
    top:25%;
    left:25%;
    border : 1px solid #444;
    background-color: aquamarine;
    transform : scale(0);
    transition : transform .5s;
 
}

.carrousel--activer {
    transform : scale(1);
}