.carrousel {
    position : fixed;
    width : 50%;
    height : 50%;
    top:25%;
    left:25%;
    border : 1px solid #444;
    transform : scale(0);
    transition : transform .5s;
    button.carrousel__x {
        position: fixed;
        z-index: 2;
    }
 
}

.carrousel--activer {
    transform : scale(1);
}