.carrousel {
    position : fixed;
    width : 50%;
    height : 50%;
    top:25%;
    left:25%;
    border : 1px solid #444;
    transform : scale(0);
    transition : transform .5s;
    button.carrousel__x {
        position: fixed;
        z-index: 2;
    }
    button.carrousel__x:hover, button.carrousel__ouvrir:hover {
        font-weight: bolder;
        background-color: darkturquoise;
        cursor: pointer;
     }
 
}

.carrousel--activer {
    transform : scale(1);
}